.body{
  display:flex;
  align-items:center;
  background-color:Lightblue
  padding:15px
}
.text{
  font-size:20px;
  color:black;

};

.ratingstars{

  size:20px;
  color:yellow
};
.title{
  font:bold;
  color:blueviolet;
}


